.accordion{
  width: 80%;
  margin: auto;
  background:linear-gradient(135deg,rgba(255, 255, 255, 0.034), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(128, 128, 128, 0.287);

}
.tituloFQ{
  font-size: 30px;
}

.text-foreground{
  color: white !important;
}

.accordionItem{
  color: rgb(122, 231, 231);
}

@media(max-width:550px){
  .accordion{
    width: 95%;
  }
  .tituloFQ{
    font-size: 20px;
  }
 
  .accordionItem{
    font-size: 10px;
  }
}