.mySwiperEquipo{
  width: 78%;
  margin: 20px;
}

  .cardEquipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: auto;
    height: auto;
    min-height: 520px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
  }
  #black{
    background-color: #555555;
  }
  #green{
    background-color: #00B6AF;
  }
  .rol{
    font-size: 22px;
    color: #C6C0C0;
    font-weight: bold;
  }
  .tituloServiciosTeam{
    font-size: 30px;
  }
  .rolDescription{
    font-size: 14px;
    margin-top: 10px;
    width: 90%;
    margin: auto;
    color: #555555;
  }

  .imageCardEquipo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 10px;

  }

  .rolContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin-top: 10px;
  }
  .cardTitleService{
    font-size: 43px;
  }
  #equipo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
@media(max-width:450px){
  .tituloServiciosTeam{
    font-size: 20px;
  }
  .cardEquipo{
    width: 90%;
    height: 80%;
    padding: 0;
    margin-left: 20px;
  }
  .mySwiperEquipo{
    width: 100%;
    margin: auto;
  }
  .cardTitleService{
    font-size: 30px;
  }
  .rol{
    font-size: 17px;
  }
  .rolDescription{
    font-size: 10px;
  }
}