@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.755);
  background-image: url('../assets/fondo.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

